.container {
    width: 90%;
    margin: auto;
}

a {
    color: #000; 
    text-decoration: none; 
}

/* SOCIAL ICONS */

.social-icons {
    margin-top: 70px; 
    display: flex;
    justify-content: center; 
    letter-spacing: 0; 
    font-size: 2.5em;  
}

.social-icons > a {
    margin: .4em; 
    color: #000; 
}

/* FOOTER CONTENT */

.footer-content {
    margin: auto; 
    text-transform: uppercase;
    display: flex;
    justify-content: center; 
}

.footer-list {
    margin-bottom: 100px; 
}

.footer-heading {
    color: rgba(0,0,0,.25);  
    font-weight: 500;
    font-size: .75em; 
    margin-bottom: 10px;
}

.footer-menu {
    margin: 25px; 
}

.footer-item {
    font-weight: 900; 
    font-size: 15px; 
    line-height: 2em; 
    font-family: Roboto, sans-serif !important; 
}